
#firstNav_38{
    padding: 0 20px;
}
#logo_38{
    padding-left: 60px;
}
#mylogo_38{
    cursor: pointer;
}
#locIcon > img{
    position:absolute;
    top:22px !important;
    padding-left:30px;
    width:45px;
    height:22px;
}
#locIcon > span{
    position:absolute;
    top:23px !important;
    padding-left:25px;
    margin-left:25px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.logoNav_38{
    float: right;
    margin-right: 40px;
    margin-top: 22px;
}
.red{
     color:#DC0E00 !important;
     font-family: Arial, Helvetica, sans-serif !important;
}
.logoNav_38{
    padding-top: 8px;
}
#log_38 > a:nth-child(1){
    padding:8px 17px;
    
    border-radius: 5px;
    border:1px solid #DC0E00;
    margin-top:5px
}
#log_38 > a:nth-child(2){
    padding:9px 15px;
    margin-right:20px !important;
    border-radius: 5px;
    color:white !important;
    background-color: #DC0E00;;
    margin-top:5px;
    
}
#cart_38 > a{ 
    position: absolute;
    right:300px;
    top:25px;
}
#cart_38 > span{ 
    position: absolute;
    right:290px;
    top:18px;
    background-color: #31A24C;
    border-radius: 50%;
    padding-top:1px;
    color:white;
    width: 20px;
    height:20px;
    text-align: center;
}

#secondNav_38{
    background-color: #171A29;
    padding:30px 10px;
   max-height: 350px;
    display:flex;
    overflow-x: scroll;
    height: 340px;
   
}

#secondNav_38::-webkit-scrollbar{
    display: none !important;
}
#secondNav_38{
    -ms-overflow-style:none !important;
}
#secondNav_38 img{
   padding:0 17px;
   min-width: 320px;
    height:280px;
    line-height: 280px; 
    text-align: center;
 
}
@media only screen and (min-width:991px) and (max-width:1100px){
}
#contentDiv_38{
    padding:5px 5%;
}
#contentNav_38{
    padding:0 2%;
     

}

#Nav1_38Content{
    font-size: 21px;
     font-weight: bold;
    padding:10 0 0 0px ;
    font-family: Arial, Helvetica, sans-serif;
    color:#2e266f;
    
}
#Nav2_38Container{
    padding-left: 10%
}
@media only screen and (max-width:991px){
   #Nav2_38Container{
    padding-left: 0 !important;
} 
}
#Nav2_38Container > .nav2{
   min-width: 90%; 
    padding-left: 20%;
    margin:15px 0;
    display:flex;
    overflow-x: auto;

}
#Nav2_38Container > .nav2::-webkit-scrollbar{
    display:none !important;
    width: 0 !important;
}
#Nav2_38Container > .nav2{
    -ms-overflow-style:none !important;
}

#Nav2_38Container > .nav2 a{
   padding-right: 5%;
    text-align: right;
  
}
.allBase{ 
    border-bottom:1px solid #E9E9EB;
}

@media only screen and (max-width:1105px){
   
   #Nav1_38Content{
     font-size: 125%;   
   }

}
@media only screen and (max-width:991px){
  
}
@media only screen and (max-width:890px){
    
   #Nav1_38Content{
     font-size: 115% !important;   
   }
  

}
#Nav2_38Container > .nav2 a{
    color:#757884;   
}


.allNav{
        padding-left:20px;
}

#Nav1_38{
        padding: 20px 0 22px 20px;

}
 #Nav2_38Container > ul li:last-child{
   padding:0 !important;
 }

#mainContent_38{
    margin-top: 20px;
    padding: 5px 0;
}
 .contentImg1{
    padding:1px 5% 1px 0;
    margin-top:20px;
    margin-bottom: 25px;
 }
  .contentImg1 > div > div:nth-child(2){
     padding:0 10px 10px 10px;
     border-bottom-right-radius: 20px;
     border-bottom-left-radius: 20px;
      box-shadow: 0px 5px 2px lightgrey;
 }
 
 .contentImg1 > div:nth-child(2) p{
     padding:10px 0;
     margin-top:5px;
 }
 .food{
     font-size: 18px;
     font-weight: bold;
     color:#2E266F;
     font-family: Arial, Helvetica, sans-serif;
 }
 .closeR{
     padding: 5PX 10px;
     font-size: 80%;
     background-color: #FFEDDE;
     border-radius: 4px;
     color:#2e266f;
     font-weight: bold;
 }
 .price{
     float:right;
     font-weight: bold;
     color:#DC0E00;
     padding-top:5px;
 }
 p > .Order{
     float: right;
     font-size: 16px;
     background-color: #DC0E00;
     color:white;
     padding:10px;
     border-radius: 5px;
     cursor: pointer !important;
 }
 #contentDiv_38{
     margin-top:20px;
 }
 
#subMainContent_38{
    margin-top: 20px;
    padding: 5px 0;
}
 .contentImg2{
    padding:10px 3% 10px 0;
    margin-top:20px;
    margin-bottom: 25px;
 }
  .contentImg2 > div > div:nth-child(2){
     padding:0 10px 10px 10px;
     border-bottom-right-radius: 20px;
     border-bottom-left-radius: 20px;
      box-shadow: 0px 5px 2px lightgrey;
 }
 
 .contentImg2 > div:nth-child(2) p{
     padding:10px 0;
     margin-top:5px;
 }

 .most{
     font-size: 170%;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
     color:#2E266F;
     float:left;
 }
.redPad{
padding:5px 0px;
float: left;


}
 .redSq{
    padding: 0.01px 6px;
    background-color: #DC0E00;
    width:5px;
    height: 5px;
     
 }
 .mealType{
     background-color: #DC0E00;
     color:white;
     position: absolute;right:0px;
     /*float: right;*/
     padding:5px 15px;
     font-family: Arial, Helvetica, sans-serif;
     border-top-right-radius: 20px;
     font-size: 12px;
 }
 .myImg0 img{
     width:100%; height:100%
 }
 .footContent{
      padding:5px 8%;
   
 }
 .fContent{
    float: right;
    margin-top:0;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
 }
 @media only screen and (max-width:991px){
     .fContent{
  
    font-size: 90%;
 } 
 }
 .fContent span img{
    margin: 0px 15px;
 }
 /* Beginning of armBurger Css*/
 .burger{
    position:absolute;
    right:0px;
    top:15px;
    width: 200px;
    display: none;
 }
 .armBurger{
     float: right;
     font-size: 25px;
     margin-right: 20px;
     color:#DC0E00 !important;
     cursor: pointer;
 }
 .burgerContent{
     margin-top:54px;
     background-color: #fff;
     padding:10px 30px 10px 5px;
     border-top:2px solid #DC0E00;
     display: none;
 }
 .burgerContent ul{
     padding-left: 5px;
     list-style-type: none;
 }
 .burgerContent ul li{
     font-size:15px;
     color: #DC0E00;
     padding:10px;

 }
 .burgerContent ul li a{
    cursor:  pointer !important; color: #DC0E00;
 }
 @media only screen and (max-width:767px){
 
#locIcon{
    display: none;
}
#logoNav_38 > span > span:first-child, #logoNav_38 span > span:nth-child(2){
    display: none ;
}
   #logoNav_38 .burger{
    display: block !important;
 }
 #logo_38{
     padding-left:2%;
 }
  .quantity2{
      display: block !important;
 }
 #locDetails2{
     display: inline-block !important;
     margin:5px 0;
     font-size: 12px;
     font-weight: bold;
   
 }
 .quantity2{
   background-color: #31A24C;
    border-radius: 50%;
    width: 17px;
    height:17px;
    color:white;
   position: absolute;
   top:85px;
   right:153px;
   padding: 1px 1px 5px 1px;
}
}
.log2, .sign2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
@media only screen and (max-width:1000px){
    .close{
        font-size: 70%;
    }
}
/* End of armBurger Css*/
 .contentImg1 > div > div:first-child,.contentImg2 > div > div:first-child{
     height: 250px !important;

 }
  @media only screen and (max-width:1220px){
     .contentImg1 > div > div:first-child,.contentImg2 > div > div:first-child{
     height: 230px !important;
 }
 .close{
     font-size: 9px;
 }
 .price{
     font-size: 13px;
 }
 .detail{
     font-size: 80%;
 }
} 
 @media only screen and (max-width:1125px){
     .contentImg1 > div > div:first-child,.contentImg2 > div > div:first-child{
     height: 200px !important;

 } 
 }
  @media only screen and (max-width:991px){
     .contentImg1 > div > div:first-child,.contentImg2 > div > div:first-child{
     height: 260px !important;

 }
}
  @media only screen and (max-width:700px){
     .contentImg1 > div > div:first-child,.contentImg2 > div > div:first-child{
     height: 330px !important;

 }
}  
 @media only screen and (max-width:450px){
     .contentImg1 > div > div:first-child,.contentImg2 > div > div:first-child{
     height: 270px !important;

 }
  .fContent{
      float: none !important;

 }
 .fContent span img{
    margin: 0px 3px
}
#subMainContent_38{
    display: none !important;
}
 }
   @media only screen and (max-width:350px){
     .contentImg1 > div > div:first-child,.contentImg2 > div > div:first-child{
     height: 220px !important;

 }
 .close{
     font-size: 8px !important;
 }
 .food{
     font-size: 14px !important;
 }
} 
   @media only screen and (max-width:290px){
     .contentImg1 > div > div:first-child,.contentImg2 > div > div:first-child{
     height: 200px !important;

 }
}   

 @media only screen and (max-width:1200px){
     #Nav1_38Content{
        font-size: 17px;
     }
     
 }
 @media only screen and (max-width:991px){
     .nav2{
         padding-left: 0 !important;
     }
     .allNav{
         border-bottom: 0;
     }
     .nav2 a{
         font-size: 80%;cursor:pointer;
     }
 }
 @media only screen and (max-width:1200px){
     #Nav2_38Container > .nav2 div{
         padding:0 2.2% ; 
     }
      #Nav2_38Container > .nav2 a{
         font-size: 90%;
     }
  
 
 }

  .contentImg1,.contentImg2{
    padding:1px 2%;margin-top:15px;margin-bottom: 25px;
 }
 .myMost{
     padding: 1px 2%;
 }
#Nav2_38{
    float: right;
}
 .realMaker{
        height:65px;
    }
 .detail{
     font-size: 90%;
     color:#707070;
    }
    @media only screen and (max-width:500px){
     .close{
        font-size: 10px;
    } 
    .food{
        font-size: 16px;
    }
    .price{
        font-size: 80%;
    }
    .detail{
        font-size: 80%;
    }
    .realMaker{
        height:50px;
    } 
}
.close{
    float: left;
}
.food{
    float: left;
}
.wish{
    margin-top:5px;
   
}

#Nav1_38{
    padding-left: 0 !important;
}
@media only screen and (max-width:991px){
    .allBase{
       border-bottom: none !important; 
    }
}
.myfloat{
    float:right !important;
    cursor: pointer;
}
.fName{
    font-size: 160%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #2a2a2a;
}
.mContent{
    padding:20px 6% 4% 6%;
}
.cartLine{ 
    border-top:0.04cm solid rgba(204,204,204,0.1);
    width:100%;
   
}
.cartPara{
    margin-top: 20px;
    padding:1px 4%;
}
.toCart{
    text-align: center;
    padding:9px 3%;
    background-color: #DC0E00;
    border-radius: 5px;
    color:white;
    cursor: pointer;
    font-size: 13px !important;
    border: none !important;
    margin-left: 5px;
    float: right;
}
.toCart2{
    float: left;;
    text-align: center;
    padding:9px 3%;
    background-color: white;
    border-radius: 5px;
    color:#DC0E00;
    cursor: pointer;
    font-size: 12px !important;
    border: 1px solid #DC0E00;
    margin-right: 5px;
    margin-bottom: 20px;
}
.kind{
    color:#2a2a2a;
    font-weight:bold;
}
@media only screen and (max-width:501px){
     .cartPara{
        text-align: center !important;
    }
}

@media only screen and (max-width:700px){
   .Order{
        margin-left: 70% !;
        width:100px !important; 
    } 

}
@media only screen and (max-width:500px){
    .flex-container{
    display: flex;
    flex-direction: column-reverse;
}
.realDetail{
    float:right;
}
.Order{
    margin-left: 68% !important;
   width:100px !important; 
}
  .kind{    
        font-size:13px !important;
     } 
}
.close,.wish{
    margin-left: 2.0%;
}
@media only screen and (min-width:991px) and (max-width:1100px){
    .food{
        font-size: 15px;
    }
}
@media only screen and (max-width:400px){
   .Order{
        margin-left: 55% !important;
        width:100px !important;
        margin-top: 5px; 
    }
    .food{
        font-size: 15px;
    }
}
 .contentImg1 > div > div:first-child,.contentImg2 > div > div:first-child{
       border-top-left-radius:10px !important ;
     border-top-right-radius: 10px !important;
     position:relative

 }
 .contentImg1 > div > div:nth-child(2),.contentImg2 > div > div:nth-child(2){
     border-bottom-left-radius:10px !important ;
     border-bottom-right-radius: 10px !important;
 }
 .mealType{
     border-top-right-radius: 10px !important;
 }
 .close{
     font-family: Arial, Helvetica, sans-serif;
     font-style: normal;
     font-weight: light;
 }
 @media only screen and (max-width:767px){
      .quantity2{
   background-color: #31A24C;
    border-radius: 50%;    
    color:white;
   position: absolute;
   top:85px;
   right:153px;
   font-size: 12px;
   text-align: center;
   
}
 }
  @media only screen and (max-width:767px){
.nav2 a{
    font-size: 75% !important;
}
#subMainContent_38{
    display: none;
} 
  }

  .pagination {
      text-align: center;
  }
  .pagination > span{
    padding:5px 7px;
    margin:0px 3px 0 0;
    /*background-color:  #FFEDDE;*/
    color:#2E266F;
    border: 1px solid #DC0E00;
    cursor: pointer;
    display: inline-block;border-radius: 5px;
  }
  .highLightPage{
    background-color:  #FFEDDE;
    color:#DC0E00 !important; 
  }
  .page{
      color:#DC0E00 !important;
  }
  .docPage{
      display: none;
  }
  .contentImg1 > div >div:first-child{
      background-size: cover !important;
      background-repeat: no-repeat !important;
  }

  .fPrice,.fImg{
      display: none !important;
  }
 
#modalDiv{
    position: fixed;
    z-index: 10000000;
    padding-left: 20%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.2) !important;
}
.modal-content2{
    height: 100%;
    position: relative;
    right: 0px;
    background-color: #dc0e00;
    margin: auto;
    padding: 20px 40px;
    width: 100%;
    -webkit-animation-name: animatetop2;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop2;
    animation-duration: 0.4s
}
.modal-head{
    position: relative;
}
.quantity3{
    position: absolute;
    width:20px;
    height: 20px;
    border-radius: 50%;
    background-color: #31A24C;
    color:white;
    text-align: center;
    left: 20px;
    padding-top: 2px;
    top:0;

}
.modalLog{
    color:white;
    padding:10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 17px;
    border:1px solid white;
}

.modalSign{
    color:#DC0E00;
    background-color: white;
    padding:11px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 17px;
    
}
.modalList{
    margin:0px;
    padding:0px;
    list-style-type:none;

}
.modalList li{
    padding:10px 0 10px 0;
    border-bottom: 1px solid white;
}
.modalList li a{
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.modalCon{
    margin-top:30px;
}
.modalCon2{
    margin-top:50px;
}
.closeBtn{
    font-size: 30px;
    color:white;
    float:right;
    cursor: pointer;
}
.modal2{
    display: none;
}
.modal-content2{
    display: none;
}
@media only screen and (max-width:350px){
   .modalLog{
       margin-right: 0px;
       font-size: 15px;
   }
    .modalSign{
       
       font-size: 15px;
   }
   .modal-content2{
       padding:20px;
   }

}


@-webkit-keyframes animatetop2 {
    from {right: -300px;opacity: 0}
    to {right: 0;opacity: 1}
}
@keyframes animatetop2 {
    from {right: -300px;opacity: 0}
    to {right: 0;opacity: 1}
}
.sign2{
    color:white;
    background-color:#DC0E00;
    padding:10px;
    margin-left: 20px;
    border-radius: 5px;
}
.log2{
    color:#DC0E00;
    background-color:#fff;
    padding:10px;
   
    border-radius: 5px;
    border:1px solid #DC0E00;
}

.log2BB{
    border:none !important;
    padding-left: 0;
}
.log2B{
    border:none !important;
}

.otherContainer{
    position: absolute;
    margin-top: 20px;
    margin-left: 40%;
}
.otherContainer a{
   padding: 0 12px 0 0;
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif; 
}
@media only screen and (max-width:991px){
  .otherContainer a{
   padding: 0 5px 0 0;
   font-size: 15px;

}
.otherContainer{
  
    margin-top: 26px;
    margin-left: 38%;
}
}
#firstNav_38{
   padding-right: 0px; 
}

.logoNav_38{
    margin-right: 20px;
    margin-top: 15px;
}
#cart_38 > a{ 
    position: absolute;
    right:250px;
    top:19px;
}
#cart_38 > span{ 
    position: absolute;
    right:240px;
    top:14px;
    background-color: #31A24C;
    border-radius: 50%;
    padding-top:1px;
    color:white;
    width: 20px;
    height:20px;
    text-align: center;
}

@media only screen and (max-width:767px){
 
.otherContainer{
    display: none;
} 
.logBB{
    display: none !important;
}
}
.modalSign{
    margin-top: 20px;
}
.modalUl{
    list-style-type: none;
    padding:0 !important;
    margin:0 !important;
}
 
.modalUl li{
    margin-top:13px;
}
 